  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px;
    background: #eee;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  li:hover {
    background: #ddd;
  }
  
  .checked {
    text-decoration: line-through;
  }
